
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Extreme Cooling
Exec=pkexec /home/tikhon/extreme-cooling/extreme_cooling stop
Icon=/home/tikhon/extreme-cooling/assets/icon-extreme-cooling-stop.png
Categories=Application
Name[en_US]=Cooling Stop
